.notepad-wrapper
.notepad-title
  font-size: 16px
.notepad-list
  background-color: #b6b6b6
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__item
.notepad-item
  padding: 5px 10px
  border: 1px solid white
  &__title
    font-size: 14px

