.notepad
  &__title
    margin: 0
    padding: 10px
    color: $black
    font-size: 44px
  &__placemarks
.placemarks
  position: relative
  padding: 0
  // padding: 50px 26px
  // display: flex
  // justify-content: flex-start
  // align-items: center
  // flex-wrap: wrap
  margin: -20px -10px
  // align-content: flex-start
.placemark
  // position: absolute
  // top: 0
  // left: 0
  max-width: 250px
  min-height: 100px
  border: 1px solid $white
  padding: 0
  margin: 0
  background-color: #d8d8d8d8
  border-radius: 10px
  overflow: hidden
  margin: 20px 10px
  cursor: pointer
  transition: 2s ease
  &__index
    position: absolute
    top: 5px
    left: 5px
    font-size: 22px
  &__title
    margin: 0
    font-size: 24px
    padding: 5px 20px
    &:focus
      outline: none
  &__content
  &__text
    padding: 5px 10px
    margin: 0
    font-size: 18px
    text-align: start
    &:focus
      outline: none
.placemarkCloseArea
  background-color: rgba(216, 216, 216, 0.847)
  // position: absolute
  // top: 0
  // left: 0
  width: 100%
  height: 100%
  z-index: 9
.placemarkEditable
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  z-index: 99
.placemarkForm
  position: relative
  width: 600px
  overflow: hidden
  margin: 100px 10px
  max-height: 50px
  background: $grey-dark
  border-radius: 10px
  border: 2px solid black
  &--collapse
    min-height: 160px
    max-height: 1000px
    width: 600px
    overflow: visible
  &__input-wrapper
    border-radius: 10px
    max-height: 50px
    // overflow: hidden
    &--collapse
      max-height: 1000px
      display: flex
      flex-direction: column-reverse
      justify-content: flex-end
  &__input
    text-align: start
    vertical-align: middle
    color: $white
    border: none
    outline: none
    background: none
    width: 100%
    min-height: 50px
    padding: 10px 15px
    resize: none
    &::-webkit-input-placeholder
      color: $grey
    &::-moz-placeholder
      color: $grey
    &--title
      font-size: 18px
      line-height: 22px
      rows: 80
    &--text
      font-size: 16px
      line-height: 22px
  &-options
    position: relative
    color: $white
    height: 40px
    width: 100%
    display: flex
    justify-content: start
    align-items: center
  &__iconInput
    display: none
    &-label
      cursor: pointer
      position: relative
      height: 25px
      width: 25px
    &-icon
      color: $white
      &:hover
        color: $orange
  &-bottom
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 15px
  &__buttonClose
    color: $white
    padding: 2px 5px
    border-radius: 2px
    transition: .1s ease
    &:hover
      background: $grey
.pallete
  position: absolute
  bottom: 23px
  left: 0
  height: 150px
  width: 150px
  border: 1px solid red
  z-index: 999
  display: flex
  justify-content: space-between
  align-items: flex-start
  background: rgba(53, 53, 53, 0.847)
  border-radius: 5px
  padding: 10px
  display: none
  opacity: 0
  transition: 1s ease
  &--visible
    display: flex
    opacity: 1
  &__color
    width: 22px
    height: 22px
    border-radius: 50%
    margin: 2px
    &--selected
      border: 2px solid $white
    &:hover
      border: 2px solid $white
.bc
  &--greyDark
    background: $grey-dark
  &--grey
    background: $grey
  &--orange
    background: $orange
  &--red
    background: red
  &--green
    background: green
  &--blue
    background: blue
  &--yellow
    background: yellow
